{% extends 'base.html' %}
{% block title %} SGE - Produto {% endblock %}
{% block content %}
<div class="container mt-4">
    <h3 class="display-6">Detalhes do Produto</h3>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{ object.title }}</h3>
            <p class="card-text">Categoria: <strong>{{ object.category }}</strong></p>
            <p class="card-text">Marca: <strong>{{ object.brand }}</strong></p>
            <p class="card-text">Número de Série: <strong>{{ object.serie_number }}</strong></p>
            <p class="card-text">Preço de custo: <strong>{{ object.cost_price }}</strong></p>
            <p class="card-text">Preço de venda: <strong>{{ object.selling_price }}</strong></p>    
            <p class="card-text">Quantidade em Estoque: <strong></strong>{{ object.quantity }}</strong></p>

            <p class="card-text">
                {{ object.description }}
            </p>
        </div>
    </div>
    <a href="{% url 'product_list' %}" class="btn btn-secondary mt-3">Cancelar e Voltar para a Lista de Produtos</a>
</div>
{% endblock %}